input[type="text"], input[type="password"] {
        background-color: #fff08d;
        color:#000000;
        font-family: "Roboto", sans-serif;
    }
    h1 {
        color: #fff08d;
        font-family: "Roboto"

    }
    label {
        color: #fff08d;
        font-family: "Roboto"
    }
body{
    background-image: url("Background.png"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.login-container {
    background-color: rgb(51, 57, 60);
    border-radius: 30px;
    border: 2px solid #F3C75F;
    padding: 20px;
    margin: 100px auto;
    width: 330px;
    height: 400px;
    position:absolute;
    top: 150px;
left: 51%;
    transform: translateX(-50%);}
.logo {
    height:110px;
    width: 110px;
    position: absolute;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
}
.ace {
    color: #F3C75F;
    font-weight: bold;
}
.login-title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 110px;
     left: 50%;
    transform: translateX(-50%);
}
.login-form {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}
#username {
    color:#F3C75F;
}
