body{
    background-image: url("BACKGROUND.png");
    border-radius: 10px;
}
.login-container {
    background-color: rgba(37, 42, 45);
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto;
    width: 330px;
    height: 500px;
}
.logo {
    height:110px;
    width: 110px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}
body {
    font-family: "Quicksand";
}